@import "../../app.scss";

.main-page {
  display: flex;
  .home-page-main {
    flex-grow: 1;
    .home-page {
      padding: 20px;
      max-height: 92vh;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .graphs-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        .each-graph {
          min-height: 250px;
          border-radius: 8px;
          border: 2px solid #f2f3f5;
          padding: 16px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .header-card {
            h3 {
              color: $primary-color;
              font-size: 16px;
              font-weight: 600;
              line-height: 20.8px;
            }
          }
          // .graph-card-div{
          //   border: 2px solid red;
          // }
        }
      }
    }
  }
}
