@import "../../../app.scss";

.main-page {
  display: flex;
  .sellers-page-main {
    flex-grow: 1;
    .sellers-page {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99999;
        .tabs-buttons {
          display: flex;
          gap: 46px;
          button {
            letter-spacing: 0.6px;
            font-size: 14px;
            font-weight: 600;
            line-height: 14.4px;
            color: $secondary-color;
            padding-bottom: 5px;
          }
          .active-tab{
            color: $primary-color;
            border-bottom: 3px solid $primary-color;
          }
        }
        .filter-dropdowns {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
